%h3 Template Information

.actions= link_to "Edit", edit_template_path(@template)

.actions= link_to "Delete", template_path(@template), method: :delete, data: {confirm: "Are you sure?"}

%table.table-vertical
  %tbody
    %tr
      %th Name
      %td= @template.name

    %tr
      %th Version
      %td= @template.version

    %tr
      %th Year
      %td= @template.year

    %tr
      %th New Partial
      %td= @template.new_partial

    %tr
      %th Show Partial
      %td= @template.show_partial
