%p
  = ff.label :aka
  = ff.text_field :aka
%p
  = ff.label :gender
  = ff.radio_button :gender, 'female'
  Female
  %br
  = ff.radio_button :gender, 'male'
  Male
%p
  = ff.label 'Graduation Year'
  = ff.radio_button :grad_year, '2018'
  2018 - Freshman
  %br
  = ff.radio_button :grad_year, '2017'
  2017 - Sophomore
  %br
  = ff.radio_button :grad_year, '2016'
  2016 - Junior
  %br
  = ff.radio_button :grad_year, '2015'
  2015 - Senior
%p
  = ff.label :jersey_size
  = ff.radio_button :jersey_size, 's'
  Small
  %br
  = ff.radio_button :jersey_size, 'm'
  Medium
  %br
  = ff.radio_button :jersey_size, 'l'
  Large
  %br
  = ff.radio_button :jersey_size, 'xl'
  Extra Large
%p
  = ff.label :shorts_size
  = ff.radio_button :shorts_size, 's'
  Small
  %br
  = ff.radio_button :shorts_size, 'm'
  Medium
  %br
  = ff.radio_button :shorts_size, 'l'
  Large
  %br
  = ff.radio_button :shorts_size, 'xl'
  Extra Large
  = ff.label :medical_info
  = ff.text_field :medical_info
%p
  = ff.label :notes
  = ff.text_field :notes
