<h1>Users Index</h1>

<div class="actions">
  <%= link_to 'Add New User', new_user_path %>
</div>
<div class="actions">
  <%= link_to 'Add New Player', new_user_path(user_type: 'player') %>
</div>


<table class="table-borders">
  <thead>
  <tr>
    <th>Name</th>
    <th>User Name</th>
    <th>Email</th>
    <th>User Type</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.full_name, user %></td>
      <td><%= user.user_name %></td>
      <td><%= user.email %></td>
      <td><%= user.user_type %></td>
    </tr>
  <% end %>
  </tbody>
</table>
