<h1>User Show</h1>

<div class="actions">
  <%= link_to "Edit", edit_user_path(@user, user_type: @user.user_type) %>
</div>

<div class="actions">
  <%= link_to "Delete", user_path(@user), method: :delete, data: {confirm: "Are you sure?"} %>
</div>

<dl>
  <dt>Name</dt>
  <dd><%= @user.full_name %></dd>

  <dt>User Name</dt>
  <dd><%= @user.user_name %></dd>

  <dt>Email</dt>
  <dd><%= @user.email %></dd>

  <dt>User Type</dt>
  <dd><%= @user.user_type %></dd>

  <dt>Status</dt>
  <dd><%= @user.status %></dd>

  <dt>Phone 1</dt>
  <dd><%= @user.phone1 %> <%= @user.phone1_type %></dd>

  <dt>Phone 2</dt>
  <dd><%= @user.phone2 %> <%= @user.phone2_type %></dd>
</dl>