= render 'shared/messages', target: @pdf_template

= form_for @pdf_template do |f|
  %fieldset
    %legend Template Information
    %p
      = f.label :name
      = f.text_field :name
    %p
      = f.label :version
      = f.text_field :version
    %p
      = f.label :year
      = f.text_field :year
    %p
      = f.label :new_partial
      = f.collection_select :new_partial, available_partials, :to_s, :to_s
    %p
      = f.label :show_partial
      = f.collection_select :show_partial, available_partials, :to_s, :to_s
    %p
      = f.label :active
      = f.check_box :active
    %p
      = f.submit
